@import "tailwindcss";

:root {
  --color-bg: #282c33;
  --color-pink: #E06B74;
  --color-green: #98C379;
  --color-yellow: #E5C07A;
  --color-blue: #62AEEF;
  --color-primery: #C778DD;
  --color-secondary: #55B6C2;
  --color-stroke: #ABB2BF;
  --color-terminal: #00ff00;
  --color-red-terminal: #FF5F57;
  --color-yellow-terminal: #FFBD2E;
  --color-green-terminal: #28C840;
  --color-bg-terminal: #1e1e1e;
  --color-command-terminal: #f0f0f0;
  --color-output-terminal: #d4d4d4;
  --color-shadow-primery: rgba(199, 120, 221, 0.6);
}

html,
body {
  font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  background-color: var(--color-bg);
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
